<div class='container-fluid login-container mt-5'>
	<div class='row mt-5'>
		<div class='col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 mt-5 mb-5'>
			<form class='steel-bg mt-5 pt-3 pl-2 pr-2 pb-2 rounded-bottom animated bounceInLeft' ng-submit="$ctrl.submitForm()">
				<fieldset class='text-center'>
					<p class='h1 marigold'>LOGIN</p>
					<p class='marigold'>If you're not an admin you are in the wrong place</p>
				</fieldset>
				<fieldset class='screen-bg p-2'>
					<fieldset ng-disabled="$ctrl.isSubmitting">
				  		<fieldset class='form-group'>
				  			<div class="input-group input-group-lg mb-3">
							  <input type="text" class="form-control form-control-lg denim" placeholder="Username" 
							  ng-model="$ctrl.formData.username" required
							  aria-label="username" aria-describedby="person-icon">
							  <div class="input-group-append">
							    <span class="input-group-text" id="person-icon"><i class='fa fa-user' aria-hidden="true"></i></span>
							  </div>
							</div>
				  		</fieldset>
	                    <fieldset class='form-group'>
				  			<div class="input-group input-group-lg mb-3">
							  <input type="text" class="form-control form-control-lg denim" placeholder="Password" 
							  ng-model="$ctrl.formData.password" required
							  aria-label="password" aria-describedby="lock-icon">
							  <div class="input-group-append">
							    <span class="input-group-text" id="lock-icon"><i class='fa fa-lock' aria-hidden="true"></i></span>
							  </div>
							</div>
				  		</fieldset>
	                        <!-- button will use auth.controller.js var stored in title
	                         which it receives from auth.config.js -->
	                        <button class="btn btn-sm btn-light float-right" type="submit" ng-bind="$ctrl.title">
	                        </button>
				  </fieldset>
				</fieldset>	
			</form>
		</div>
	</div>
</div>