html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
  font: 16px 'Reenie Beanie', cursive;
  color:#1A2930;
}

a {
  color: #C5C1C0;
}

.content{
	margin-top: 56px;
	min-height: calc(100vh - 68px);
}

.screen{
	color:#C5C1C0;
}

.screen-bg{
	background-color: #C5C1C0;
}

.steel{
	color:#0A1612;
}

.steel-bg{
	background-color:#0A1612;
}

.denim{
	color:#1A2930;
}

.denim-bg{
	background-color: #1A2930;
}

.marigold{
	color:#F7CE3E;
}

.marigold-bg{
	background-color: #F7CE3E;
}

.shadow-inset{
	-moz-box-shadow:    inset 0 0 10px #0A1612;
   -webkit-box-shadow: inset 0 0 10px #0A1612;
   box-shadow:         inset 0 0 10px #0A1612;
}


/*Header Styles*/
.nav-link:hover{
	transition: color 2s ease;	
	color:#F7CE3E!important;
}

/* -----------*/


/* Home Styles */
.jumbotron-home{
	background-image: url(https://res.cloudinary.com/relentlessrawle/image/upload/c_scale,h_242,q_100,w_320/v1515706713/jumbotron-bg_julxzs.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 275px;
}


.delay{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;
}

@media (min-width: 576px) { 
	.jumbotron-home{
		background-image: url(https://res.cloudinary.com/relentlessrawle/image/upload/c_scale,h_242,q_100,w_576/v1515706713/jumbotron-bg_julxzs.png);
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.content{
		margin-top: 80px;
	}

	.jumbotron-home{
		margin-top: 80px;
		background-image: url(https://res.cloudinary.com/relentlessrawle/image/upload/c_scale,h_242,q_100,w_768/v1515706713/jumbotron-bg_julxzs.png);
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.jumbotron-home{
		background-image: url(https://res.cloudinary.com/relentlessrawle/image/upload/c_scale,h_242,q_100,w_992/v1515706713/jumbotron-bg_julxzs.png);
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.jumbotron-home{
		background-image: url(https://res.cloudinary.com/relentlessrawle/image/upload/c_scale,h_242,q_100,w_1200/v1515706713/jumbotron-bg_julxzs.png);
	}
}

/*Web Projects Component Styles*/
.project-container{
	border:1px solid #1A2930;
}

.webProjectBox{
	border-left:1px solid #1A2930;
}

.filmProjectBox{
	border-right:1px solid #1A2930;
}

.cal-glyph{
	width:32px;
	height:32px;
}

.view-link:hover{
	transition: color 2s ease;	
	color:#F7CE3E!important;
}

.nav-link.disabled{
	color:#0A1612;
}

.technologies:hover{
	animation:rubberBand 1s;
}

@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.web-bullet{
		width:150px;
	}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.cal-glyph{
		width:64px;
		height:64px;
	}
}
/*---------------------------*/
/*Footer Styles*/

/*Login Styles*/


/*Dashboard Styles*/

/*Editor Styles*/

.editor-container, .comment-container{
	min-height: 100vh;
}

.denim-btn:hover{
	background-color:#1A2930;
	color:white;
	transition: color 1s ease, background-color 1s ease; 
}

/*Blog Styles*/
#blog-vid{
	display: block;
	width:100% !important;
	height:auto !important;
	margin-top:-80px;
}

.vid-container{
	overflow: hidden;
	max-height: 600px;
}

.border-marigold{
	border-color: #F7CE3E;
}