<div id='web' class='container-fluid project-container'>
	<div class='row' ng-repeat="website in $ctrl.websites">
		<div class='col-12 col-md-6 d-none d-md-block marigold-bg'>
			<p class='sr-only'>Marigold Box</p>
		</div><!--marigoldBox-->
		<div class='col-12 col-md-6 pt-3 webProjectBox'>
			<h2 class='sr-only'>Web Projects</h2>
			<div class='row'>
				<div class='col-3'>
					<img class='web-bullet img-fluid' src="https://res.cloudinary.com/relentlessrawle/image/upload/c_scale,q_100,w_150/v1515711777/pennant_z0xwyy.svg">
				</div><!--End of col-sm-3-->
				<div class='col-9'>
					<h3 class='h1 d-block d-sm-none'>{{website.title}}</h3>
					<p class='display-2 d-none d-sm-block d-md-none'>{{website.title}}</p>
					<p class='display-4 d-none d-md-block d-lg-none'>{{website.title}}</p>
					<p class='display-2 d-none d-lg-block'>{{website.title}}</p>
				</div><!--End of col-sm-9-->
			</div><!--End of row-->
			<div class='row'>
				<div class='col-3'>
					
				</div>
				<div class='col-9'>
					<img class='cal-glyph' src="https://res.cloudinary.com/relentlessrawle/image/upload/q_100/v1515720530/match_pk0wfk.svg">
					<span class='d-inline-block d-xl-none'>{{website.startDate|date: "MMM"}} '{{website.startDate|date:"yy"}} - {{website.endDate|date:"MMM"}} '{{website.endDate|date:"yy"}}</span>
					<span class='h1 d-none d-xl-inline-block'>{{website.startDate|date:"MMM"}} '{{website.startDate|date:"yy"}} - {{website.endDate|date:"MMM"}} '{{website.endDate|date:"yy"}}</span>
				</div>
			</div>
			<div class='row pt-3'>
				<div class='col-12 text-center'>
					<p class='d-xl-none'>{{website.description}}</p>
					<p class='h2 d-none d-xl-block'>{{website.description}}</p>
				</div>
			</div>
			<div class='row pt-2'>
				<div class='col-12 col-md-6 text-center'>
					<a href="{{website.linkToWeb}}"><u class='view-link'><span class='h4'><i class='fa fa-eye' aria-hidden="true"></i> View on the Web</span></u></a>
				</div>
				<div class='col-12 col-md-6 text-center'>
					<a href="{{website.linkToGithub}}"><u class='view-link'><span class='h4'><i class='fa fa-github' aria-hidden="true"></i> View on Github</span></u></a>
				</div>
			</div>
			<div class='row pt-3'>
				<ul class="nav nav-pills">
				  <li class="nav-item m-1 animated technologies" ng-repeat="item in website.listOfTechnologies track by $index">
				    <a class="nav-link btn btn-sm btn-warning disabled" href="#">{{website.listOfTechnologies[$index]}}</a>
				  </li>
				</ul>
			</div>
		</div><!--Web Project Container-->
	</div><!--End of row-->
</div><!--End of container-->