<div class='container-fluid'>
	<div class='row'>
		<div class='col-12 col-md-6 d-none d-md-block marigold-bg'>
			<p class='sr-only'>Marigold Box</p>
		</div><!--marigoldBox-->
		<div class='col-12 col-md-6 pt-3 webProjectBox'>
			<div class='row'>
				<h2 class='sr-only'>Web Projects</h2>
				<div class='col-3'>
					<img class='web-bullet img-fluid' src="https://res.cloudinary.com/relentlessrawle/image/upload/c_scale,q_100,w_150/v1515711777/pennant_z0xwyy.svg">
				</div><!--End of col-sm-3-->
				<div class='col-9'>
					<h3 class='h1 d-block d-sm-none'>The Bridge</h3>
					<p class='display-2 d-none d-sm-block d-md-none'>The Bridge</p>
					<p class='display-4 d-none d-md-block d-lg-none'>The Bridge</p>
					<p class='display-2 d-none d-lg-block'>The Bridge</p>
				</div><!--End of col-sm-9-->
			</div><!--End of row-->
			<div class='row'>
				<div class='col-3'>
					
				</div>
				<div class='col-9'>
					<img class='cal-glyph' src="https://res.cloudinary.com/relentlessrawle/image/upload/q_100/v1515720530/match_pk0wfk.svg">
					<span class='d-inline-block d-xl-none'>Nov 17 - Dec 17</span>
					<span class='h1 d-none d-xl-inline-block'>Nov 17 - Dec 17</span>
				</div>
			</div>
			<div class='row pt-3'>
				<div class='col-12 text-center'>
					<p class='d-xl-none'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class='h2 d-none d-xl-block'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class='row pt-2'>
				<div class='col-12 col-md-6 text-center'>
					<a href="https://thebridgebilliards.herokuapp.com/"><u class='view-link'><span class='h4'><i class="fa fa-eye" aria-hidden="true"></i> View on the Web</span></u></a>
				</div>
				<div class='col-12 col-md-6 text-center'>
					<a href="https://github.com/RawleJuglal/bridge"><u class='view-link'><span class='h4'><i class="fa fa-github" aria-hidden="true"></i> View on Github</span></u></a>
				</div>
			</div>
			<div class='row pt-3'>
				<ul class="nav nav-pills">
				  <li class="nav-item m-1 animated technologies">
				    <a class="nav-link btn btn-sm btn-warning disabled" href="#">MongoDB</a>
				  </li>
				  <li class="nav-item m-1 animated technologies">
				    <a class="nav-link btn btn-sm btn-warning disabled" href="#">ExpressJS</a>
				  </li>
				  <li class="nav-item m-1 animated technologies">
				    <a class="nav-link btn btn-sm btn-warning disabled" href="#">AngularJS</a>
				  </li>
				  <li class="nav-item m-1 animated technologies">
				    <a class="nav-link btn btn-sm btn-warning disabled" href="#">NodeJS</a>
				  </li>
				</ul>
			</div>
		</div><!--Web Project Container-->
	</div><!--End of row-->
</div><!--End of container-->