<div class='container-fluid steel-bg'>
	<div class='row'>
		<div class='col-12 col-xl-5'>
			<div class='row'>
				<div class='col-12 p-1'>
					<h2 class='marigold'>Web Projects</h2>	
				</div>
				<div class='col-12 col-xl-4 pb-2'  ng-repeat="website in $ctrl.websites">
					<div class='card'>
						<div class='card-header'>
							<div class='row'>
								<div class='col-9'>
									<p class='h5'>{{website.title}}</p>
								</div><!--End of col-9-->
								<div class='col-3'>
									<button type="button" class="close" aria-label="Close" ng-click="$ctrl.deleteProject('web', website._id)">
									  <span aria-hidden="true">&times;</span>
									</button>
								</div><!--End of col-3-->
							</div><!--End of row-->
						</div><!--End of card-header-->
						<img class="card-img-top" ng-src="{{website.linkImage}}" alt="Card image cap">
						<div class='card-body'>
							<p class='card-text'>{{website.description}}</p>
						</div><!--End of card-body-->
						<div class='card-footer'>
							<button type="button" class="btn btn-dark btn-sm float-right" ui-sref="app.editor({type:'website', slug: website._id})">Edit</button>
						</div><!--End of card-footer-->
					</div><!--End of card-->
				</div><!--End of col-xl-4-->				  
			</div>
			<div class='row'>
				<div class='col-12 p-1'>
					<h2 class='marigold'>Film Projects</h2>
				</div>
				<div class='col-12 col-xl-4 pb-2' ng-repeat="film in $ctrl.films">
					<div class='card'>
						<div class='card-header'>
							<div class='row'>
								<div class='col-9'>
									<p class='h5'>{{film.title}}</p>
								</div><!--End of col-9-->
								<div class='col-3'>
									<button type="button" class="close" aria-label="Close" ng-click="$ctrl.deleteProject('film', film._id)">
									  <span aria-hidden="true">&times;</span>
									</button>
								</div><!--End of col-3-->
							</div><!--End of row-->
						</div><!--End of card-header-->
						<img class="card-img-top" ng-src="{{film.linkImage}}">
						<div class='card-body'>
							<p class='card-text'>{{film.description}}</p>
						</div><!--End of card-body-->
						<div class='card-footer'>
							<button type="button" ui-sref="app.editor({type:'film', slug: film._id})" class="btn btn-dark btn-sm float-right">Edit</button>
						</div><!--End of card-footer-->
					</div><!--End of card-->
				</div>
			</div>
		</div>
		<div class='col-12 col-xl-7'>
			<div class='row'>
				<div class='col-12 col-xl-9'>
					<div class='row'>
						<div class='col-12 p-1'>
							<h2 class='marigold'>Blogs</h2>
						</div>
						<div class='col-12 col-xl-4 pb-2' ng-repeat="blog in $ctrl.blogs">
							<div class='card'>
								<div class='card-header'>
									<div class='row'>
										<div class='col-9'>
											<p class='h5'>{{blog.title}}</p>
										</div><!--End of col-9-->
										<div class='col-3'>
											<button type="button" class="close" aria-label="Close" ng-click="$ctrl.deleteProject('blog', blog._id)">
											  <span aria-hidden="true">&times;</span>
											</button>
										</div><!--End of col-3-->
									</div><!--End of row-->
								</div><!--End of card-header-->
								<div class='card-body'>
									<p class='card-text'>{{blog.publishDate | date:'mediumDate'}}</p>
									<p class='card-text'>{{blog.body | limitTo: 144:0}}</p>
								</div><!--End of card-body-->
								<div class='card-footer'>
									<div class='row'>
										<div class='col-9'>
											<button type="button" ui-sref="app.comment({slug: blog._id})" class="btn btn-link"><i class='fa fa-comments' aria-hidden="true"></i></button>
										</div><!--End of col-9-->
										<div class='col-3'>
											<button type="button" ui-sref="app.editor({type:'blog', slug: blog._id})" class="btn btn-dark btn-sm float-right">Edit</button>
										</div><!--End of col-3-->
									</div><!--End of row-->
								</div><!--End of card-footer-->
							</div><!--End of card-->
						</div>
					</div><!--End of row-->
				</div>
				<div class='col-12 col-xl-3'>
					<div class='btn-group' role="group" aria-label="Button group with nested dropdown">
						<div class="btn-group" role="group">
							<div class="dropdown mt-5">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Add...
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
							    <button ui-sref="app.editor({type:'website'})" class="dropdown-item denim-btn" type="button">New Web Project</button>
							    <button ui-sref="app.editor({type:'film'})" class="dropdown-item denim-btn" type="button">New Film Project</button>
							    <button ui-sref="app.editor({type:'blog'})" class="dropdown-item denim-btn" type="button">New Blog Post</button>
							  </div>
							</div>
						</div>	
						
						<div class='mt-5'>
							<button class='btn btn-danger' ng-click="$ctrl.logout()">Logout</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div><!--End of row-->
</div><!--End of container-->